*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Clash Grotesk', sans-serif;
  font-weight: 400;

  
}

:root{
  --darkshades: #221d3e;
  --darkaccent: #4f8164;
  --mainbrand: #7fd4a5;
  --lightaccent: #5b8f72;
  --lightshades: #fffefe;

}

body{
  background-color: var(--darkshades);
  color: var(--lightshades);
  
}

h1{
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
}

h3{
  font-size: 1.4rem;
  line-height: 1;
}

h6{
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 550;
  letter-spacing: 1px;
  line-height: 1;
}

a{
  color: inherit;
}